
<%include ../partials/header.ejs%>
<h1><%= title %></h1>

<div class="movie-show">
	<img src="<%=poster%>">
	<div class="text-left">
		<h5>Released: <%= year %></h5>
		<h5>Genre: <%= genre %></h5>
		<h5>Plot: <%= plot %></h5>
		<form action="/movies/<%=imdbID%>/create" method="GET">
		  <button class="btn btn-success" value="submit">Write a Review!</button>
		</form>

		<% for (let i = 0; i < reviews.length; i++) { %>
		    <h6><%=reviews[i].userId.name%> said:</h6>
		    <p><%= reviews[i].content %></p>
		    <small><%= reviews[i].timestamp.toLocaleString() %></small><br/>
		<% } %>
	</div>
</div>

<%include ../partials/footer.ejs%>