<%include ../partials/header.ejs%>

<h1>Your Account Information</h1>
<div class="user"> 
	<img class="avatar" src="https://fasab.files.wordpress.com/2013/03/potato-pete.jpg"> 
	<%=user.name%>
	<br/><br/>
	<h3>Your Reviews:</h3>
	<% reviews.forEach(review => {%>
		<a href="/movies/<%=review.movieId.imdbID%>"><h6><%=review.movieId.title%></h6></a>
		<p><%=review.content%></p>
		<div class="total-rating">
			<% for(let i = 0; i < review.rating; i++) {%>
		  		<img src="http://pngimg.com/uploads/potato/potato_PNG7078.png" id="rating">
		  	<% } %>
	  	</div>
		<small><%=review.timestamp.toLocaleString()%></small>
	<% }) %>
	
	<h3><%=message%></h3>
	<a href="/movies/feed">Back to Feed</a>	
</div>


<%include ../partials/footer.ejs%>